body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.judul {
    z-index: 2;
    color: white;
}

.btn-tambah {
    background-color: #ffa11e;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 0px 10px rgba(255, 170, 33, 0.703);
}

.btn-tambah:hover {
    background-color: #db8b1a;
    color: white;
    box-shadow: 0px 0px 10px rgba(210, 139, 26, 0.703);
}

.card-parent {
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.card-parent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    /* Adjust as needed */
    background-color: #4793AF;
    /* Your desired background color */
    border-top-left-radius: 10px;
    /* Ensure rounded corners match card */
    border-top-right-radius: 10px;
    /* Ensure rounded corners match card */
    z-index: 0;
    /* Ensure background is behind content */
}

.card-tambah {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-right: 5%;
    /* Add shadow */
}

.kegiatan {
    color: #4793AF;
}

.btn-primary {
    background-color: #4793AF;
    border: none;
}

.btn-primary:hover {
    background-color: #316477;
}

.btn-primary:focus {
    background-color: #4793AF !important;
}

.btn-danger {
    background-color: #DD5746;
    border: none;
}

.btn-danger:focus {
    background-color: #DD5746 !important;
}

.btn-danger:hover {
    background-color: #8B322C;
}

.list-group-item {
    padding-left: 20px;
    /* Adjust as needed */
    padding-right: 20px;
    /* Adjust as needed */
}

.completed {
    text-decoration: line-through;
    /* Optionally reduce opacity for completed items */
}

.form-control {
    background-color: #ffffff;
}

.progress {
    height: 30px;
    /* Adjust the height of the progress bar */
    font-size: 16px;
    /* Adjust the font size of the progress bar text */
    transition: width 0.3s ease-in;
    /* Add transition for width with ease-in animation */
}

.progress-bar {
    background-color: #ffa11e;
}

.status-message {
    color: #FFC470;
}

.dark-mode {
    background-color: #737373;
    color: #ffffff;
}

.dark-mode #app {
    background-color: #737373;
    color: #ffffff;
}

.dark-mode #parent {
    background-color: #2e2e2e;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.dark-mode #card-tambah {
    background-color: #2e2e2e;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.dark-mode input {
    background-color: #2e2e2e;
    color: #ffffff;
}

.dark-mode input::placeholder {
    color: #ffffff;
}

.dark-mode input:focus {
    background-color: #2e2e2e;
    color: #ffffff;
}

.dark-mode h5 {
    color: #ffffff;
}

.dark-mode h6 {
    color: #ffffff;
}

.dark-mode li {
    background-color: #2e2e2e;
    color: rgb(255, 255, 255);
}

#toggle-theme {
    display: none;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
        /* Ukuran font untuk perangkat mobile */
    }
}